html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	background-color: #E5E7EB ;
}

.header{
	background-color: #9CA3AF;
	padding: 30px 0;
}

.container{
	max-width: 1080px ;
	margin: 0 auto ;
	padding: 0 20px ;
}
.image1{
	width: 120px;
}
.left{
	float: left;
}



.nav1{
	float: right;
	font-size: 30px;
}



.clearfix::before, .clearfix::after{
	content:"";
	display: table;
}

.clearfix::after{
	clear: both;
}

main{
	margin-top: 25px;
}

.article{
	text-align: center;
}


.col1{
	float: left;
	background-color: #9CA3AF;
	width: 45% ;
	margin: 1.5%;
	height: 300px;
	border: 2px solid black ;
	color: black ;
}

.column p{
	margin-top: 25px;
}
	
 .column h1{
	font-size: 25px ;
}


.col2{
	float: right;
	width: 45% ;
	margin: 1.5%;
	height: 300px;
	border: 2px solid black ;
	
	
}
.col2 .image2{
	width: 548px ;
	height: 300px ;
}


.column1{
	width: 30% ;
	margin: 1.5% ;
	height: 250px ;
	float: left;
	border: 2px solid black; 
}
.img3{
	width: 365px;
	height: 250px;

}
footer{
	background-color: #9CA3AF;
	padding: 30px 0;
	text-align: center;
	
}

 footer h2{
	font-size: 25px;
	margin-bottom:  30px;
}
button{
	background-color: rgb(16, 243, 16);
	float: right;
	border-radius: 80%;
	width: 40;
	height: 30px ;
	border: 1px solid black;
}
.icon{
	background-color: brown;
}